---
import Card from "../../../components/Card.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="SECOMPP"
  ><h2>Cursos ministrados durante a SECOMPP</h2>
  <Card
    href="https://www.google.com/"
    title="Google"
    body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed ante in mauris sodales faucibus eget sed leo. In vehicula eros a nisi volutpat bibendum. Curabitur suscipit dolor varius est viverra sodales. Sed mollis euismod nisi nec cursus. Integer a velit at nisl maximus consectetur ac sit amet nunc. Morbi aliquet, justo id faucibus varius, est erat maximus dui, ut fringilla leo nulla a felis. Aliquam tincidunt nec nulla vel fringilla. Sed luctus arcu pulvinar tellus sodales pretium. Maecenas eu dolor id mi mollis mollis quis nec risus. Donec elementum neque eros, a ultrices nunc vehicula in. Aenean non justo ut enim fermentum egestas nec eu ex. Cras massa augue, vestibulum eu odio aliquam, ornare mollis ligula. Cras et mattis velit, in ultricies ante. "
  />
  <Card
    href="https://www.google.com/"
    title="Google"
    body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed ante in mauris sodales faucibus eget sed leo. In vehicula eros a nisi volutpat bibendum. Curabitur suscipit dolor varius est viverra sodales. Sed mollis euismod nisi nec cursus. Integer a velit at nisl maximus consectetur ac sit amet nunc. Morbi aliquet, justo id faucibus varius, est erat maximus dui, ut fringilla leo nulla a felis. Aliquam tincidunt nec nulla vel fringilla. Sed luctus arcu pulvinar tellus sodales pretium. Maecenas eu dolor id mi mollis mollis quis nec risus. Donec elementum neque eros, a ultrices nunc vehicula in. Aenean non justo ut enim fermentum egestas nec eu ex. Cras massa augue, vestibulum eu odio aliquam, ornare mollis ligula. Cras et mattis velit, in ultricies ante. "
  />
  <Card
    href="https://www.google.com/"
    title="Google"
    body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed ante in mauris sodales faucibus eget sed leo. In vehicula eros a nisi volutpat bibendum. Curabitur suscipit dolor varius est viverra sodales. Sed mollis euismod nisi nec cursus. Integer a velit at nisl maximus consectetur ac sit amet nunc. Morbi aliquet, justo id faucibus varius, est erat maximus dui, ut fringilla leo nulla a felis. Aliquam tincidunt nec nulla vel fringilla. Sed luctus arcu pulvinar tellus sodales pretium. Maecenas eu dolor id mi mollis mollis quis nec risus. Donec elementum neque eros, a ultrices nunc vehicula in. Aenean non justo ut enim fermentum egestas nec eu ex. Cras massa augue, vestibulum eu odio aliquam, ornare mollis ligula. Cras et mattis velit, in ultricies ante. "
  />
</Layout>
